<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>version3.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C5FACE6E2D4D74D400A8521F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5FACE7F2D4D74D500A8521F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5FACE8A2D4D74D500A8521F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
